body {
    background: #212121;
}

h1, p, a {
    font-family: 'Roboto Mono', monospace;
    display: block;
    text-align: center;
    line-height:.8;
    color: #FEFF04;
}
.contenido {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: white; 
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    font-size: 4rem;
}
a, p {
    font-size: 2.2rem;
}
.github {
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}
.github_titulo {
    text-decoration: none;
}
.github_titulo:hover {
    color: #624E9A;   
}
.icon {
    margin: 2.2rem auto auto auto;
}